<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="helloWorld" class="com.tpoint.HelloWorld"  init-method="initMe" destroy-method="destroyMe" scope="prototype">
	<!--  <property name="message" value="Hello World!" />  scope="request" -->
</bean>

<bean id="initHelloWorld" class="com.tpoint.InitHelloWorld">
</bean>

</beans>
